*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Spotify Mix';
}

#nav-mobile{
    display: none;
}

.boldheading-text{
    font-size: 2rem;
}

.heading-text{
    font-size: 15px;
}

.normal-text{
    font-size: 1rem;
}

.mini-text{
    font-size: 0.9rem;
}

.button-text{
    font-size: 0.8125rem;
}

.nav{
    border: 2px solid black;
    background-color: black;
    color: #FFFFFF;
    display:  flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    letter-spacing: 2px;
    z-index: 3;
}

.search-box{
    border: none;
    background-color: #1F1F1F;
    border-radius: 2rem;
    height: 2.4rem;
    align-items: center;
    width: 25rem;
    color: #FFFFFF;
    padding-left: 3rem;
    opacity: 0.9;
    transition: 0.3s;
}

.search-box:hover{
    background-color: #383838;
    border: 2.5px solid #ffffff;

}

.nav-left{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left i{
    margin: 1rem;
}

#spotify{
    font-size: 1rem;
}

#house{
    font-size: 2rem;
}

.nav-right ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right ul li{
    margin: 0 7px;
    font-size: 1rem;
}

.seperator{
    scale: 1.5  ;
}

.big-capsule{
    border: none;
    background-color: #FFFFFF;
    height: 3rem;
    border-radius: 2rem;
    width: 6rem;
    font-weight: 700;
    font-size: 1rem;
}

.clone{
    display: flex;
    height: 100vh;
    width: 100%;
    color: white;
    position: fixed;
    top: 4rem;
    background-color: black;    
} 

.side-bar{
    width: 25%;

}

.side-bar .side-bar-content {
    border-radius: 0.7rem;
    height: 81%;
    width: auto;
    background-color: #121212;
    margin: 0.5rem;
}

.side-bar .side-bar-content .side-bar-content-header{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.side-bar-content-header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sidebar-box{
    width: 95%;
    border-radius: 0.5rem;
    background-color: #1F1F1F;
    height: 10rem;  
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
    /* line-height: 2rem; */
}

.sidebar-button{
    border: none;
    background-color: #FFFFFF;
    height: 1.8rem;
    align-self: baseline;
    margin-top: 1.2rem;
    border-radius: 2rem;
    width: 9rem;
    transition: 0.3s;
}

p{margin-bottom: 0;}

.side-bar-nav{
    margin-top: 3rem;
    padding: 1rem;
    font-size: 0.7rem;
    color: #8C8C8C;
}

.side-bar-nav ul li{
    display: inline-flex;
    margin: 0.4rem;
}

.side-bar-nav ul li a{
    text-decoration: none;
    color: #8C8C8C;
}

#cookies{
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0.5rem;
    line-height: 3rem;
    color: white;
    display: block;
}

.sidebar-button-lang{
    border: none;
    background-color: #121212;
    color: white;
    border: 1px solid rgb(141, 141, 141);
    height: 2rem;
    border-radius: 2rem;
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.sidebar-button-lang:hover{
    border: 2px solid rgb(255, 255, 255);
    scale: 1.1;
}


.main-content{
    overflow:scroll;
    border-radius: 0.7rem;
    height: 81%;
    background: linear-gradient(#121212,black,#121212);
    margin: 0.5rem 0.3rem 0.5rem 0;
    flex: 1;
}

.main-content-content{
    margin: 0 0.1rem 1.75rem 2rem;
}

.main-content .main-content-content .main-content-heading{
    margin: 2rem 0.2rem 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.main-content-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.main-content-row-card{
    line-height: 1.5rem;
    height: 14.4rem;
    width: 10rem;
    padding: 0.5rem;
}

.main-content-row-card img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    box-shadow: 0 5px 1rem black;
}

.main-content-row-card-songs{
    line-height: 1.5rem;
    height: 14.4rem;
    width: 10rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.main-content-row-card-songs #song{

    height: 8.5rem;
    width: 8.5rem;
    border-radius: 6px;
}


.main-content-row-card:hover{
    background-color: #1f1f1f;
    border-radius: 0.5rem;
}

.main-content-row-card-songs:hover{
    background-color: #1f1f1f;
    border-radius: 0.5rem;
}

.main-footer{
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}

.main-footer .foot-div ul li{
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-weight: 300;
}

.foot-div i{
    margin: 2rem;
    /* margin: 1.2rem; */
    padding: 10px;
}

.foot-div i:hover{
    background-color: #383838;
    scale: 1.2;
    border-radius: 50%;
}

.page-end{
    margin: 2rem;
}

.hr{
    border: 1px solid #121212;
    border-bottom: 0.5px solid rgb(117, 117, 117);
    width: 90%;
    height: 1px;
    margin: 0 auto;
}

.rights{
    margin: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
    color: rgb(192, 192, 192)
}



.footer{
    background: linear-gradient(to right,purple,rgb(150, 36, 150),violet,rgb(83, 83, 216),rgb(74, 74, 222));
    position: fixed;
    width: 100%;
    height: 4.5rem;
    font-weight: 300;
    bottom: 0;
    z-index: 2;
}

.footer-content{
    margin: 0.4rem 0 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-capsule-signup{
    border: none;
    background-color: #FFFFFF;
    height: 3rem;
    border-radius: 2rem;
    font-weight: 700;
    font-size: 1rem;
    width: 7rem;
    transition: 0.3s;
}


.big-capsule-signup:hover{
    height: 2.5rem;
    border-radius: 5rem;
    width: 6.2rem;
    background-color: #dfdfdf;
}





li{
    opacity: 0.7;
    transition: 0.2s;
    list-style: none;
}

li:hover{
    opacity: 1;
}

.u-effect:hover{
    text-decoration: white underline;
}

#little-font{
    font-size: 15px;
}


.card-font{
    font-weight: 100;
    font-size: 15px;
}

.bold-text{
        font-family: 'Spotify Mix';
        font-weight: bold;
        font-style: normal;
    
}

.transit{
    color: #B0B0B0;
    transition: 0.3s;
    cursor: pointer;
}

.transit img{
    opacity: 0.7;
}

.transit img:hover{
    opacity: 1;
}
.transit:hover{
    color: #ffffff;
    opacity: 1;
}

.search-glass{
    color: #B0B0B0;
    opacity: 0.7;
    transition: 0.3s;
}

.search-glass:hover{
    color: #ffffff;
    opacity: 1;
}

@media (max-width: 1250px) {
    body{
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
    }
    .nav-right{
        display: none;
    }

    .footer{
        width: 100%;
        height: auto;
    }
    .side-bar{
        height: auto;
        width: auto;
        display: none;
    }

    .main-footer{
        justify-content: space-evenly;
        flex-direction: column;

    }
    .foot-div{
        margin-bottom: 2rem;
        padding: 8px;
    }
    .foot-div i{
        margin: 4px;
    }
    #spotify-logo{
        height: 100%;
        width: auto;
    }
    .search-box{
        padding:3px;
        height: 40px;
        width: auto;
        display: flex;
        align-items: right;
    }
    .main-content-row-card img{
        border-radius: 0;
    }

    .u-effect{
        display: none;
    }

    .main-content-heading b div{
        font-size: 20px;
    }
    .main-content-content{
        margin-left: 14px;
    }
    .main-content-heading{
        margin-top: 5px;
    }
    .footer{
        display: none;
    }
    .main-content{
        margin-top: 0;
        height: 100%;
    }
    .main-content-row{
        justify-content: space-evenly;
        align-items: center;
    }
    .hide-over-mobile{
        display: none;
    }
    .clone{
        position: absolute;
    }
    .nav{
        height: 60px;
    }


    .open-app-btn{
        height: 1.9rem;
        font-style: normal;
    } 
    #nav-desktop{
        display: none;
    }
    #nav-mobile{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-right{
        display: flex;
    }
    .nav-right ul i{
        margin: 14px;
    }
    
}
